#header {
    height: 45px;
    line-height: 45px;
    background-color: #00b38a;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
  }
  .back{position: absolute;z-index: 2;top: 0;width: 50px;font-size: 3rem;}