.linputer {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    height: 45px;
}
.lbutton {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem;
    text-align: center;
    width: 88px;
    border-right: 1px solid #e8e8e8;
}
.lbutton span {
    display: inline-block;
}
.lbutton .cityicon {
    width: 8.5px;
    height: 7px;
    background: url(/images/mobile/asset/common/img/icon.png) no-repeat -1px -2.5px;
    background-size: 250px 250px;
}
.rinput {
    height: 45px;
    margin-left: 89px;
    position: relative;
}
.rinput .inputer {
    display: block;
    border: none;
    padding: 10px 0;
    height: 25px;
    line-height: 25px;
    color: #333333;
    width: 75%;
    margin: 0 0 0 5%;
    font-size: 1.5rem;
    float: left;
}
.rinput .search {
    display: block;
    width: 20%;
    height: 45px;
    line-height: 45px;
    float: right;
    position: relative;
}
.rinput .search .searchicon {
    display: block;
    margin: 14px auto 0 auto;
    width: 17px;
    height: 17px;
    background: url(/images/mobile/asset/common/img/icon.png) no-repeat -14px -2.5px;
    background-size: 250px 250px;
}
.more{margin-bottom: 50px;}
.historyList{
    height: 45px;
    line-height: 45px;
    font-size: 1.4rem;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 0 23px;
    text-align: left;
    background: #fafafa;
}
.historyList .text {
    display: inline-block;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
}
.delHistory {
    font-size: 2.8rem;
    position: relative;
    top: -12px;
    right: -40px;
}